@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"; 

body  {
    background-image: url("https://images.pexels.com/photos/1484516/pexels-photo-1484516.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-color: #cccccc;
    background-size: cover;
    width: 100%;
  }

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    size: 100px;
  }
  

  .box h2 {
    font-size: 35px;
    color: white;
    border-bottom: 1px solid red ;
}

.button-wrap {
    width: 400px;

}


.navbar-nav {
  justify-content: end;
}

button {
  display: flex;
  justify-content: center;
}


.container-fluid {

  width: 100%;
  
}


.container h1 {
  font-size: 80px;
  text-shadow: 5px 5px #fcc201;

}



.text2 {
  font-size: 30px;
  color: white;
}

.text1 {
  font-size: 80px;
  text-shadow: 5px 5px #fcc201;
  color: white;
 
}


img {
  
  border: white solid 2px;
}



 #search_drink {
  width: 460px;
padding-left: 40px;
background: white;
height: 60px;
}

#health_labels, #cuisine_type,  #recipeFound, #ingredientLines , #url, #calories, #image,#source,#mealType, #diet_labels, #drinkImage, #drinkType, #drinkTag{ 
display:none;
width:800px;
background:white;
margin: 0 auto;
height:auto;
padding:10px 40px 0 40px;
color: black;
text-align: left;
size: 20px;
}




